<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharp Object - Profile</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
    <script src="/profile.js" defer></script>
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <div id="profile-header">
        <h2> Welcome back, <%= user.first_name%></h2>
        <a href="/user/logout">Log out -></a>
    </div>
    <div id="profile-page">
        <aside id="profile-bar">
            <a href="/user/profile/general">General</a>
            <a href="/user/profile/cart">Cart</a>
            <a href="/user/profile/orders">Order History</a>
        </aside>
        <main id="profile-main">
            <% if (section === "general") { %>
                <%- include("./partials/profile/general.ejs") %>
            <% } else if(section === "cart") { %>
                <%- include("./partials/profile/cart.ejs") %>
            <% } else if (section === "orders") { %>
                <h3>Order History</h3>
            <% } %>
        </main>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>